rules_version = '2';
service cloud.firestore {
 match /databases/{database}/documents {
   
   // Global default deny
   match /{document=**} {
     allow read, write: if false;
   }

   // Helpers
   function isAdmin(email) {
     return email == "patrickkamande10455@gmail.com";
   }

   // USERS COLLECTION
   match /users/{email} {
     allow read, write: if true;
   }

   // CARDS COLLECTION
   match /cards/{cardId} {
     allow read: if true;
     allow create, update, delete: if true;
   }

   // NEWS COLLECTION
   match /news/{newsId} {
     allow read: if true;
     allow create, update, delete: if true;
   }

   // WHOLESALE PACKS
   match /wholesalePacks/{packId} {
     allow read: if true;
     allow create, update, delete: if true;
   }

   // AUCTIONS COLLECTION
   match /auctions/{auctionId} {
     allow read: if true;
     allow create, update, delete: if true;
   }

   // TICKETS COLLECTION
   match /tickets/{ticketId} {
     allow read, write: if true;
   }

   // ORDERS COLLECTION
   match /orders/{orderId} {
     allow read, write: if true;
   }

   // SETTINGS COLLECTION
   match /settings/{settingId} {
     allow read: if true;
     allow write: if true;
   }
 }
}
